@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to Helbredsportalen!</h1>

Where patients can see their prescriptions, and book consultations
Doctors can fill out prescriptions and see when they are booked for a consultation.
And pharmacists can prescribe medicine

<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgrey;
  color: white;
  text-align: center;
}
</style>

<div class="footer">
  <p>Database exam project spring 2022</p>
</div>