@page "/prescriptions"

<PageTitle>Prescriptions</PageTitle>

@inject UserProvider UserProvider
@inject IPrescriptionService PrescriptionService

<h3>Prescriptions</h3>

<Tabs>
    @if (_currentUser.Type == PersonType.Doctor)
    {
        <TabPane Tab="Create prescription">
           
        </TabPane>
    }
    @if (_currentUser.Type != PersonType.Pharmaceut)
    {
        <TabPane Tab="See own prescriptions">
            <PrescriptionTable Prescriptions="_prescriptionsData" PeopleType="_currentUser.Type"/>
        </TabPane>
    }
    @if (_currentUser.Type != PersonType.Patient)
    {
        <TabPane Tab="Search for patient prescriptions">
            <Space>
                <Search Placeholder="input person cpr number" EnterButton="@("Find")" OnSearch="OnSearchForPrescriptions">
                    <Prefix>
                        <Icon Type="User"/>
                    </Prefix>
                </Search>
            </Space>
            <br/>
            <PrescriptionTable Prescriptions="_prescriptionSearchResult" PeopleType="_currentUser.Type"/>
        </TabPane>
    }
</Tabs>

@code {
    IEnumerable<PrescriptionDto> _prescriptionsData = null!;
    IEnumerable<PrescriptionDto>? _prescriptionSearchResult;
    PersonDto _currentUser = null!;

    protected override async Task OnInitializedAsync()
    {
        if (UserProvider.CurrentUser?.Type == PersonType.Patient)
        {
            //await RequestPatientPrescriptions();
        }

        _currentUser = UserProvider.CurrentUser ?? new();
        UserProvider.OnUserChanged += OnUserChanged;

        _prescriptionsData = _currentUser.Type switch
        {
            PersonType.Doctor => await PrescriptionService.GetPrescriptionsForDoctor(_currentUser.Id),
            PersonType.Patient => await PrescriptionService.GetPrescriptionsForPatient(_currentUser.CprNumber!),
            _ => Enumerable.Empty<PrescriptionDto>()
        };
    }

    async Task OnSearchForPrescriptions(string query)
    {
        if (string.IsNullOrWhiteSpace(query))
            return;
        _prescriptionSearchResult = await PrescriptionService.GetPrescriptionsForPatient(query);
    }

    void OnUserChanged(object? obj, EventArgs arg)
    {
        _currentUser = UserProvider.CurrentUser!;
        StateHasChanged();
    }
}
