@page "/users"
@using Frontend.Pages.SubPages;
@using lib.DTO

<h3>Users</h3>

<Tabs>
    <TabPane Tab="Patients">
        <PersonTable PeopleType="@PersonType.Patient"/>
    </TabPane>
    <TabPane Tab="Doctors">
        <PersonTable PeopleType="@PersonType.Doctor"/>
    </TabPane>
    <TabPane Tab="Pharmaceuts">
        <PersonTable PeopleType="@PersonType.Pharmaceut"/>
    </TabPane>
</Tabs>

@code {

}
