@inherits LayoutComponentBase
@inject UserProvider UserProvider

<PageTitle>Frontend</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if(CurrentUser != null)
            {
                <div>@CurrentUser.FirstName | @CurrentUser.Type</div>
            }
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    PersonDto? CurrentUser { get; set; }

    protected override void OnInitialized()
    {
        CurrentUser = UserProvider.CurrentUser;
        UserProvider.OnUserChanged += OnUserChanged;
    }

    void OnUserChanged(object? obj, EventArgs arg)
    {
        CurrentUser = UserProvider.CurrentUser;
        StateHasChanged();
    }
}